body {
  background-color: #282c34;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 80px;
}

/* header */

.header {
  color: #da70d6;
  text-shadow: 0px 5px 4px #ee2e24;
  font-size: 40px;
}

/* container */

.container {
  background-color: black;
  padding: 40px 120px 40px 50px;
  border: 1px solid white;
  border-radius: 5px;
}

/* input data */

#input-data {
  padding: 10px 100px 10px 10px;
  border: 2px solid #ee2e24;
  border-radius: 5px;
  box-shadow: 0px 4px 5px #ee2e24;
}

/* contact */

.contact {
  color: hotpink;
}

/* a link */

a {
  color: skyblue;
}

